@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#game-container {
  background-image: url('./assets/game/kitchen.png');
  background-size: cover;
  background-color: #f5e9df;
}
