@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BangoPro';
  src: url('./assets/fonts/BangoPro.otf');
}

* {
  font-family: 'BangoPro';
  font-optical-sizing: auto;
  font-style: normal;
}

#game-container {
  background-image: url('./assets/game/kitchen.png');
  background-size: cover;
  background-position: bottom;

  background-color: #f5e9df;
}

#controls {
  /* background-image: url('./assets/game/table.png');
  background-size: 100%; */
}
